openapi: 3.0.3
info:
  title: SallyContractTesting
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.admin.stg.supplyally.gov.sg
paths:
  /beneficiaries/create:
    post:
      summary: /beneficiaries/create
      description: /beneficiaries/create
      operationId: beneficiariesCreate
      parameters:
        - name: Cookie
          in: header
          schema:
            type: string
            example: >-
              token=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI4OTYwMzNhZC0yYzcwLTRkNmMtOTY1Ny1mZWVlOWE0OGQxOTUiLCJzZXNzaW9uSWQiOiIyMmU3ZWJlZS1iMzJjLTQ4ODQtYTA5ZC0zOTg1MTJjZmZiOGQiLCJleHAiOjE2Nzk5OTMzNzYsImlhdCI6MTY3OTk4OTc3N30.ohjOjZ7HdxIdRZzibiQ15UZg8pZNMDR_OFwp1yn3YPD-NPtYrT0VeiTDcOEhdHwXLyfKyWxyMojXPgGUAunfOA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                alias:
                  type: string
                  example: CFP
                id:
                  type: string
                  example: CFP-4261376
                isDenied:
                  type: boolean
                  example: false
                transformedId:
                  type: string
                  example: 5302344f-660e-4692-b9f5-037640563d8a
            example:
              alias: CFP
              id: CFP-4261376
              isDenied: false
              transformedId: 5302344f-660e-4692-b9f5-037640563d8a
      responses:
        '200':
          description: ''
tags: []
