openapi: 3.0.3
info:
  title: SallyContractTesting
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.admin.stg.supplyally.gov.sg
paths:
  /session/create:
    post:
      summary: /session/create Copy
      description: /session/create Copy
      operationId: sessionCreateCopy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: >-
                    eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiRUNESC1FUyIsImtpZCI6IlZKbmd0MFpsWGdNSHFCdWdlVWtzMlBmc0s4Zk5rVDJzeC1ReEtGTVg1ZlUiLCJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTI1NiIsIngiOiJXTVl4RGlrZnJ1QzBUZVF5WnhoRTdmVl9md3dsWGZRLTFLX0FDOGFhU2FvIiwieSI6IlF4UnJOTDNvYjJDUGNVSmhpbDkxRFZzc19UUlhTVzRGenJGQ0FiYW53QlkifX0..MNnX4aY4pHEpHSEWnv6YWg.NGDqnNJk4r-nvKFIZ757bw7DOKHM3FbCtMC6Twi_mK8TQyT9ihUjAV5dmojQQjHZRd7DM9N6AtWfy-sQ42xMNzOei6C0-xAD80DiYokuo6UPP8eUvu7MFBQBPPYrIaVPw5JpfyKswu2HGLqnM-umJHo_a6NbV3iRBc_DImI3_CmGx-sPTekEUxiqDKm42kEPoJb2kXjJjkL2dSbp3S4uMM6MeMQew1O7v0gAiq6mRrBqxeU7jfKMJneyo1vQVlRNABeCJq4jhHrG1TMaoJgdPQ.1p09WANmoRzSdFrSlOEE-g
            example:
              token: >-
                eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiRUNESC1FUyIsImtpZCI6IlZKbmd0MFpsWGdNSHFCdWdlVWtzMlBmc0s4Zk5rVDJzeC1ReEtGTVg1ZlUiLCJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTI1NiIsIngiOiJXTVl4RGlrZnJ1QzBUZVF5WnhoRTdmVl9md3dsWGZRLTFLX0FDOGFhU2FvIiwieSI6IlF4UnJOTDNvYjJDUGNVSmhpbDkxRFZzc19UUlhTVzRGenJGQ0FiYW53QlkifX0..MNnX4aY4pHEpHSEWnv6YWg.NGDqnNJk4r-nvKFIZ757bw7DOKHM3FbCtMC6Twi_mK8TQyT9ihUjAV5dmojQQjHZRd7DM9N6AtWfy-sQ42xMNzOei6C0-xAD80DiYokuo6UPP8eUvu7MFBQBPPYrIaVPw5JpfyKswu2HGLqnM-umJHo_a6NbV3iRBc_DImI3_CmGx-sPTekEUxiqDKm42kEPoJb2kXjJjkL2dSbp3S4uMM6MeMQew1O7v0gAiq6mRrBqxeU7jfKMJneyo1vQVlRNABeCJq4jhHrG1TMaoJgdPQ.1p09WANmoRzSdFrSlOEE-g
      responses:
        '200':
          description: /session/create Copy
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: OPTIONS,POST,GET
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: http://localhost:3000
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '75'
            Date:
              schema:
                type: string
                example: Thu, 20 Apr 2023 07:16:17 GMT
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Set-Cookie:
              schema:
                type: string
                example: >-
                  token=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI4OTYwMzNhZC0yYzcwLTRkNmMtOTY1Ny1mZWVlOWE0OGQxOTUiLCJzZXNzaW9uSWQiOiJiNjFkODk2OC1lYTczLTQzNmYtOTRkZi1kNjhjNmJjZDZmZWYiLCJleHAiOjE2ODE5Nzg1NzcsImlhdCI6MTY4MTk3NDk3N30.qCPLEoHvUHAG8plOSCf2hF-TUC30vPzC0bEfvheKyRVvo9X7iSjxLkT91czVMZ2BLS1hOoh_VOvrAEe3bxR9NQ;
                  expires=Thu, 20 Apr 2023 08:16:17 GMT; Path=/; HttpOnly;
                  Domain=.supplyally.gov.sg;Secure; SameSite=Lax;
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains; preload
            Vary:
              schema:
                type: string
                example: Origin
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-6440e6c1-696cce7d50e28c213c291f18;Sampled=0;lineage=a179f176:0
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            x-amz-apigw-id:
              schema:
                type: string
                example: Dqj-NGJ_yQ0FjRQ=
            x-amzn-RequestId:
              schema:
                type: string
                example: d7485ade-54eb-4e16-92d2-528402599e5c
          content:
            application/json:
              schema:
                type: object
                properties:
                  exp:
                    type: string
                    example: '2023-04-20T08:16:17.580Z'
                  message:
                    type: string
                    example: Successfully created session
              examples:
                /session/create Copy:
                  value:
                    exp: '2023-04-20T08:16:17.580Z'
                    message: Successfully created session
  /userLocationRoles:
    get:
      summary: /userLocationRoles
      description: /userLocationRoles
      operationId: userlocationroles
      parameters:
        - name: Cookie
          in: header
          schema:
            type: string
            example: token={{my_cookie}}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  example: b24f2bac-e5d1-4961-9c1a-3c82195cafc0
            example:
              userId: b24f2bac-e5d1-4961-9c1a-3c82195cafc0
      responses:
        '200':
          description: /userLocationRoles
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: OPTIONS,POST,GET
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: http://localhost:3000
            Connection:
              schema:
                type: string
                example: close
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Length:
              schema:
                type: string
                example: '877'
            Date:
              schema:
                type: string
                example: Thu, 20 Apr 2023 07:16:31 GMT
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains; preload
            Vary:
              schema:
                type: string
                example: Origin
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-6440e6cf-012abc5658e7d98e6a0db16e;Sampled=0;lineage=dd64dcf5:0
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            x-amz-apigw-id:
              schema:
                type: string
                example: DqkAaEq4yQ0FYuw=
            x-amzn-RequestId:
              schema:
                type: string
                example: 652f4572-49aa-4e11-9d1b-7d429e9aac84
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 4b87fb3e-9e66-4f52-976e-74dd2caf38e3
                    location:
                      type: object
                      properties:
                        environment:
                          type: object
                          properties:
                            alias:
                              type: string
                              example: CFP
                            endpoint:
                              type: string
                              example: api.ffth-cfp-stg.sally-dev.stack.gov.sg
                            id:
                              type: string
                              example: bf991c7b-8d25-479a-ab14-4fd6940897ae
                            metadata:
                              type: object
                              properties:
                                campaignEndDate:
                                  type: string
                                  example: August 1, 2023
                                campaignStartDate:
                                  type: string
                                  example: September 2, 2020
                                isActive:
                                  type: boolean
                                  example: true
                                subtitle:
                                  type: string
                                  example: Food from the Heart
                                title:
                                  type: string
                                  example: FFTH Community Food Pack
                            name:
                              type: string
                              example: FFTH CFP
                        id:
                          type: string
                          example: 8880950e-ebdc-4bde-8cb6-0141359e45ae
                        name:
                          type: string
                          example: Radin Mas CC
                    name:
                      type: string
                      example: User location role
                    role:
                      type: object
                      properties:
                        description:
                          type: string
                          example: Super admin role
                        id:
                          type: string
                          example: 0ec010f7-4bc6-469c-9dcb-85332c8ea035
                        name:
                          type: string
                          example: Super admin
                    updatedAt:
                      type: string
                      example: '2022-12-14T05:21:21.612Z'
                    user:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 896033ad-2c70-4d6c-9657-feee9a48d195
                        name:
                          type: string
                          example: Alice Wonderwoman
                        nric:
                          type: string
                          example: '*****001I'
                example:
                  - id: 4b87fb3e-9e66-4f52-976e-74dd2caf38e3
                    location:
                      environment:
                        alias: CFP
                        endpoint: api.ffth-cfp-stg.sally-dev.stack.gov.sg
                        id: bf991c7b-8d25-479a-ab14-4fd6940897ae
                        metadata:
                          campaignStartDate: September 2, 2020
                          isActive: true
                          subtitle: Food from the Heart
                          title: FFTH Community Food Pack
                        name: FFTH CFP
                      id: 8880950e-ebdc-4bde-8cb6-0141359e45ae
                      name: Radin Mas CC
                    name: User location role
                    role:
                      description: Super admin role
                      id: 0ec010f7-4bc6-469c-9dcb-85332c8ea035
                      name: Super admin
                    updatedAt: '2022-12-14T05:21:21.612Z'
                    user:
                      id: 896033ad-2c70-4d6c-9657-feee9a48d195
                      name: Alice Wonderwoman
                      nric: '*****001I'
                  - id: c6f20eb8-fa82-41f5-bc33-64f639f47902
                    location:
                      environment:
                        alias: CFP
                        endpoint: api.ffth-cfp-stg.sally-dev.stack.gov.sg
                        id: bf991c7b-8d25-479a-ab14-4fd6940897ae
                        metadata:
                          campaignStartDate: September 2, 2020
                          isActive: true
                          subtitle: Food from the Heart
                          title: FFTH Community Food Pack
                        name: FFTH CFP
                      id: e596427d-e692-4660-9614-d0617ca48fe2
                      name: Kallang CC
                    name: Alice Wonderwoman
                    role:
                      description: Admin role
                      id: efb43cfa-c790-4850-823c-3618e229c5e7
                      name: Admin
                    updatedAt: '2023-01-03T06:24:29.494Z'
                    user:
                      id: 896033ad-2c70-4d6c-9657-feee9a48d195
                      name: Alice Wonderwoman
                      nric: '*****001I'
                  - id: 5dd73355-c594-4d2b-ad56-72b6e4a90ef3
                    location:
                      environment:
                        alias: MHA
                        endpoint: nsht.api.stg.supplyally.gov.sg
                        id: e3af7d7e-c9e2-455e-8ccc-237082a28e84
                        metadata:
                          campaignEndDate: August 1, 2023
                          campaignStartDate: August 30, 2022
                          isActive: true
                          subtitle: MHA
                          title: NS Home Team Voucher
                        name: NS Home Team Voucher
                      id: ec7dbf1b-10dd-489c-b5eb-7cc863db3243
                      name: All
                    name: Admin Alice for NSHT
                    role:
                      description: Admin role
                      id: efb43cfa-c790-4850-823c-3618e229c5e7
                      name: Admin
                    updatedAt: '2023-01-27T08:00:00.000Z'
                    user:
                      id: 896033ad-2c70-4d6c-9657-feee9a48d195
                      name: Alice Wonderwoman
                      nric: '*****001I'
                  - id: a6d881c7-c42c-4ce7-95a7-37a88c7f4112
                    location:
                      environment:
                        alias: SAFRA
                        endpoint: safra.api.stg.supplyally.gov.sg
                        id: eae38742-694c-46ca-b764-661494b3f08d
                        metadata:
                          campaignEndDate: August 1, 2023
                          campaignStartDate: August 1, 2023
                          isActive: true
                          subtitle: MINDEF
                          title: Safra Voucher
                        name: Safra Voucher
                      id: bd082019-ec18-4517-8b23-9c0d6aa53377
                      name: All
                    name: Admin Alice for Safra Voucher
                    role:
                      description: Admin role
                      id: efb43cfa-c790-4850-823c-3618e229c5e7
                      name: Admin
                    updatedAt: '2023-01-27T08:00:00.000Z'
                    user:
                      id: 896033ad-2c70-4d6c-9657-feee9a48d195
                      name: Alice Wonderwoman
                      nric: '*****001I'
              examples:
                /userLocationRoles:
                  value:
                    - id: 4b87fb3e-9e66-4f52-976e-74dd2caf38e3
                      location:
                        environment:
                          alias: CFP
                          endpoint: api.ffth-cfp-stg.sally-dev.stack.gov.sg
                          id: bf991c7b-8d25-479a-ab14-4fd6940897ae
                          metadata:
                            campaignStartDate: September 2, 2020
                            isActive: true
                            subtitle: Food from the Heart
                            title: FFTH Community Food Pack
                          name: FFTH CFP
                        id: 8880950e-ebdc-4bde-8cb6-0141359e45ae
                        name: Radin Mas CC
                      name: User location role
                      role:
                        description: Super admin role
                        id: 0ec010f7-4bc6-469c-9dcb-85332c8ea035
                        name: Super admin
                      updatedAt: '2022-12-14T05:21:21.612Z'
                      user:
                        id: 896033ad-2c70-4d6c-9657-feee9a48d195
                        name: Alice Wonderwoman
                        nric: '*****001I'
                    - id: c6f20eb8-fa82-41f5-bc33-64f639f47902
                      location:
                        environment:
                          alias: CFP
                          endpoint: api.ffth-cfp-stg.sally-dev.stack.gov.sg
                          id: bf991c7b-8d25-479a-ab14-4fd6940897ae
                          metadata:
                            campaignStartDate: September 2, 2020
                            isActive: true
                            subtitle: Food from the Heart
                            title: FFTH Community Food Pack
                          name: FFTH CFP
                        id: e596427d-e692-4660-9614-d0617ca48fe2
                        name: Kallang CC
                      name: Alice Wonderwoman
                      role:
                        description: Admin role
                        id: efb43cfa-c790-4850-823c-3618e229c5e7
                        name: Admin
                      updatedAt: '2023-01-03T06:24:29.494Z'
                      user:
                        id: 896033ad-2c70-4d6c-9657-feee9a48d195
                        name: Alice Wonderwoman
                        nric: '*****001I'
                    - id: 5dd73355-c594-4d2b-ad56-72b6e4a90ef3
                      location:
                        environment:
                          alias: MHA
                          endpoint: nsht.api.stg.supplyally.gov.sg
                          id: e3af7d7e-c9e2-455e-8ccc-237082a28e84
                          metadata:
                            campaignEndDate: August 1, 2023
                            campaignStartDate: August 30, 2022
                            isActive: true
                            subtitle: MHA
                            title: NS Home Team Voucher
                          name: NS Home Team Voucher
                        id: ec7dbf1b-10dd-489c-b5eb-7cc863db3243
                        name: All
                      name: Admin Alice for NSHT
                      role:
                        description: Admin role
                        id: efb43cfa-c790-4850-823c-3618e229c5e7
                        name: Admin
                      updatedAt: '2023-01-27T08:00:00.000Z'
                      user:
                        id: 896033ad-2c70-4d6c-9657-feee9a48d195
                        name: Alice Wonderwoman
                        nric: '*****001I'
                    - id: a6d881c7-c42c-4ce7-95a7-37a88c7f4112
                      location:
                        environment:
                          alias: SAFRA
                          endpoint: safra.api.stg.supplyally.gov.sg
                          id: eae38742-694c-46ca-b764-661494b3f08d
                          metadata:
                            campaignEndDate: August 1, 2023
                            campaignStartDate: August 1, 2023
                            isActive: true
                            subtitle: MINDEF
                            title: Safra Voucher
                          name: Safra Voucher
                        id: bd082019-ec18-4517-8b23-9c0d6aa53377
                        name: All
                      name: Admin Alice for Safra Voucher
                      role:
                        description: Admin role
                        id: efb43cfa-c790-4850-823c-3618e229c5e7
                        name: Admin
                      updatedAt: '2023-01-27T08:00:00.000Z'
                      user:
                        id: 896033ad-2c70-4d6c-9657-feee9a48d195
                        name: Alice Wonderwoman
                        nric: '*****001I'
  /session/checkForActive:
    post:
      summary: /activeSession
      description: /activeSession
      operationId: activesession
      parameters:
        - name: ''
          in: header
          schema:
            type: string
            example: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: >-
                    eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiRUNESC1FUyIsImtpZCI6IlZKbmd0MFpsWGdNSHFCdWdlVWtzMlBmc0s4Zk5rVDJzeC1ReEtGTVg1ZlUiLCJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTI1NiIsIngiOiJXTVl4RGlrZnJ1QzBUZVF5WnhoRTdmVl9md3dsWGZRLTFLX0FDOGFhU2FvIiwieSI6IlF4UnJOTDNvYjJDUGNVSmhpbDkxRFZzc19UUlhTVzRGenJGQ0FiYW53QlkifX0..MNnX4aY4pHEpHSEWnv6YWg.NGDqnNJk4r-nvKFIZ757bw7DOKHM3FbCtMC6Twi_mK8TQyT9ihUjAV5dmojQQjHZRd7DM9N6AtWfy-sQ42xMNzOei6C0-xAD80DiYokuo6UPP8eUvu7MFBQBPPYrIaVPw5JpfyKswu2HGLqnM-umJHo_a6NbV3iRBc_DImI3_CmGx-sPTekEUxiqDKm42kEPoJb2kXjJjkL2dSbp3S4uMM6MeMQew1O7v0gAiq6mRrBqxeU7jfKMJneyo1vQVlRNABeCJq4jhHrG1TMaoJgdPQ.1p09WANmoRzSdFrSlOEE-g
            example:
              token: >-
                eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiRUNESC1FUyIsImtpZCI6IlZKbmd0MFpsWGdNSHFCdWdlVWtzMlBmc0s4Zk5rVDJzeC1ReEtGTVg1ZlUiLCJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTI1NiIsIngiOiJXTVl4RGlrZnJ1QzBUZVF5WnhoRTdmVl9md3dsWGZRLTFLX0FDOGFhU2FvIiwieSI6IlF4UnJOTDNvYjJDUGNVSmhpbDkxRFZzc19UUlhTVzRGenJGQ0FiYW53QlkifX0..MNnX4aY4pHEpHSEWnv6YWg.NGDqnNJk4r-nvKFIZ757bw7DOKHM3FbCtMC6Twi_mK8TQyT9ihUjAV5dmojQQjHZRd7DM9N6AtWfy-sQ42xMNzOei6C0-xAD80DiYokuo6UPP8eUvu7MFBQBPPYrIaVPw5JpfyKswu2HGLqnM-umJHo_a6NbV3iRBc_DImI3_CmGx-sPTekEUxiqDKm42kEPoJb2kXjJjkL2dSbp3S4uMM6MeMQew1O7v0gAiq6mRrBqxeU7jfKMJneyo1vQVlRNABeCJq4jhHrG1TMaoJgdPQ.1p09WANmoRzSdFrSlOEE-g
      responses:
        '200':
          description: /activeSession
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: OPTIONS,POST,GET
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: http://localhost:3000
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '25'
            Date:
              schema:
                type: string
                example: Thu, 20 Apr 2023 07:16:38 GMT
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains; preload
            Vary:
              schema:
                type: string
                example: Origin
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-6440e6d4-70b463555d29e96540cf392a;Sampled=0;lineage=dc78db45:0
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            x-amz-apigw-id:
              schema:
                type: string
                example: DqkBPEVsyQ0Fczw=
            x-amzn-RequestId:
              schema:
                type: string
                example: 13a453c9-68ee-4439-93c5-3ac25f77ea28
          content:
            application/json:
              schema:
                type: object
                properties:
                  hasActiveSession:
                    type: boolean
                    example: true
              examples:
                /activeSession:
                  value:
                    hasActiveSession: true
tags: []
